/core-bc/modules/portlet/src/main/resources/rebel.xml
/core-bc/modules/theme/src/main/resources/rebel.xml

.DS_Store

.settings/*
.classpath
.project

core-bc/modules/theme/target/*
core-bc/modules/theme/.settings/*

_sprite.properties
_sprite.png
_sprite.gif
.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__junit_junit_4_8_1.xml
.idea/libraries/Maven__log4j_log4j_1_2_16.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_6_1.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
core-bc/innovationsslussen-theme-core-bc.iml
core-bc/modules/theme/innovationsslussen-theme-core-bc-module-theme.iml
innovationsslussen-theme-system.iml
rebel_project.xml
rebel.xml
