<nav class="top-navigation clearfix" id="topNavigation">
	<ul class="top-nav-list clearfix">
		
		#if($is_signed_in)
			<li class="top-nav-user">
				<span>Inloggad som: $user_name</span>
			</li>
		#end
		
		#if($is_signed_in)
			<li class="top-nav-signout last">
				<a href="$sign_out_url">
					<span>$sign_out_text</span>
				</a>
			</li>			
		#elseif($show_sign_in_link)
			<li class="top-nav-signout last">
				
                ##$taglibLiferay.runtime($loginlink_portlet_id, "", $velocityPortletPreferences.toString())&nbsp;
				
				<a href="$sign_in_url">
					<span>$sign_in_text</span>
				</a>
				
			</li>
		#end
	</ul>
</nav>